@font-face {
  font-family: "Digital";
  src: url("/src/images/DS-DIGIB.TTF");
}
* {
  box-sizing: border-box;
}
.wrapper {
  background-color: #09192f;
  text-decoration: none;
  height: 100vh;
  margin: 0;
  padding: 0;
  color: #54cdb5;
}
