.loaderBody {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("/src/images/pepeServerBack.avif");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.loadingIMG {
  width: 18%;
  height: auto;
  display: block;
  padding: 10px;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.loader,
.loaderDifferent {
  display: inline-grid;
  width: 7.5rem;
  aspect-ratio: 1;
}
.loader {
  animation: l3-0 5s steps(10) infinite;
  -webkit-animation: l3-0 5s steps(10) infinite;
}
.loader:before,
.loader:after,
.loaderDifferent:before,
.loaderDifferent:after {
  content: "";
  grid-area: 1/1;
}
.loader:before,
.loaderDifferent:before {
  clip-path: polygon(
    100% 50%,
    90.45% 79.39%,
    65.45% 97.55%,
    34.55% 97.55%,
    9.55% 79.39%,
    0% 50%,
    9.55% 20.61%,
    34.55% 2.45%,
    65.45% 2.45%,
    90.45% 20.61%,
    100% 50%,
    85.6% 24.14%,
    63.6% 8.15%,
    36.4% 8.15%,
    14.4% 24.14%,
    6% 50%,
    14.4% 75.86%,
    36.4% 91.85%,
    63.6% 91.85%,
    85.6% 75.86%,
    94% 50%,
    85.6% 24.14%
  );
  background: #141314;
}
.loader::after,
.loaderDifferent:after {
  background: #ffffff;
  clip-path: polygon(
    100% 50%,
    65.45% 97.55%,
    9.55% 79.39%,
    9.55% 20.61%,
    65.45% 2.45%
  );
  margin: 27%;
  translate: 46% 0;
  transform-origin: right;
}
.loader:after {
  animation: l3-1 0.5s linear infinite;
  -webkit-animation: l3-1 0.5s linear infinite;
}

.loaderDifferent {
  animation: l4 1s linear infinite;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}

.loaderDifferent:after {
  animation: inherit;
  -webkit-animation: inherit;
}

@keyframes l3-0 {
  to {
    rotate: 1turn;
  }
}
@keyframes l3-1 {
  0% {
    rotate: 18deg;
  }
  to {
    rotate: -18deg;
  }
}

@keyframes l4 {
  0% {
    rotate: 18deg;
  }
  to {
    rotate: -18deg;
  }
}
