.body {
  background-image: url("/src/images/fflinksBack.avif");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  color: white;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body,
html {
  overflow-x: hidden;
}
@media (max-width: 600px) {
  .input_field {
    padding: 5px 10px;
    font-size: 0.5rem;
  }
  #top {
    font-size: 1rem;
  }
  #middle {
    font-size: 0.8rem;
  }
}
@media (min-width: 601px) {
  .input_field {
    padding: 10px 20px;
    max-width: 100%;
    max-height: 100%;
    width: 22.43rem;
    height: 2.625rem;
    font-size: 1rem;
  }
  #top {
    font-size: 1.6rem;
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
  }

  #middle {
    font-size: 1.4rem;
    border-radius: 0.625rem;
    -webkit-border-radius: 0.625rem;
    -moz-border-radius: 0.625rem;
    -ms-border-radius: 0.625rem;
    -o-border-radius: 0.625rem;
  }

  #top:hover,
  #middle:hover {
    background-color: whitesmoke;
    color: black;
  }
}
.input_field {
  position: relative;
  cursor: text;
  border: 2px solid;
  animation: rgb 5s linear infinite;
  -webkit-animation: rgb 5s linear infinite;
  color: black;
  border-radius: 15px;
  box-shadow: 2px 5px 0px 0px rgba(49, 71, 56, 0.34);
  -webkit-box-shadow: 2px 5px 0px 0px rgba(49, 71, 56, 0.34);
  -moz-box-shadow: 2px 5px 0px 0px rgba(49, 71, 56, 0.34);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.input_field:hover {
  background-color: #f0f0f0;
}
.input_field:focus {
  cursor: default;
  background-color: #f0f0f0;
  border: 3px solid whitesmoke;
  cursor: text;
  color: black;
  animation: none;
  -webkit-animation: none;
}
.input_field::placeholder {
  color: black;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 400;
  box-sizing: border-box;
}

#top,
#middle {
  border: 0.1rem solid #611515;
  padding: 0rem 1.2rem;
  margin: 0.7rem auto;
  cursor: pointer;
  color: white;
  display: block;
  background-color: transparent;
}

@keyframes rgb {
  0% {
    border-color: rgb(255, 0, 0);
  }
  33% {
    border-color: rgb(0, 255, 0);
  }
  66% {
    border-color: rgb(0, 0, 255);
  }
  100% {
    border-color: rgb(255, 0, 0);
  }
}
