.header {
  overflow: hidden;
  padding: 10px 25px 0 25px;
  height: 80px;
  position: absolute;
  top: 0%;
  left: 0%;
  right: 0%;
}

#logo {
  float: left;
}
#logoName {
  float: right;
  color: #fff;
  font-size: 2.25rem;
  margin-top: 14px;
}

.links {
  float: right;
  background-color: transparent;
  margin: 0 0 60px 0;
}

.links a {
  padding: 10px 25px;
  margin: 0 0 0 50px;
  font-size: 1.5rem;
  color: #fff;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.links a:hover {
  background-color: black;
  border: solid 1px #fff;
}

.change {
  display: inline-block;
  color: #40a595;
  background-color: transparent;
  border: none;
}
.links a span {
  color: #40a595;
  font-family: "Digital";
  font-size: 2rem;
  letter-spacing: 5px;
}

.dropDown {
  overflow: hidden;
  float: right;
  margin: 20px 10px 0 0;
  border: 1px solid #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.dropDown:hover {
  background-color: #163055;
  border-bottom: none;
}
.dropDown .dropBtn {
  font-size: 1.55em;
  font-weight: 600;
  border: none;
  outline: none;
  color: #40a595;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropDownContent {
  display: none;
  position: absolute;
  background-color: #163055;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropDownContent a {
  float: none;
  color: #fff;
  padding: 15px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropDownContent a:hover {
  background-color: #09192f;
}
.dropDownContent a:hover {
  background-color: #09192f;
}

.dropDown:hover .dropDownContent {
  display: block;
}

@media (max-width: 1350px) {
  .header {
    padding: 0;
  }

  .links a {
    padding: 15px 25px;
    margin-left: 0.1em;
    font-size: 1.5em;
  }

  #logo {
    padding: 10px 0;
  }

  .links a span {
    font-size: 2.25rem;
  }

  .change {
    font-size: 1.5rem;
    padding: 5px 7.5px;
    margin-left: 25px;
  }
}
.animationButtonOn,
.animationButtonOff {
  background-color: transparent;
  border: 1px solid #40a595;
  color: #40a595;
  font-size: 1.35em;
  font-weight: 500;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.animationButtonOn:after {
  color: red;
  content: "On";
  animation: upwards 0s 2s forwards;
  -webkit-animation: upwards 0s 2s forwards;
}
.animationButtonOff:after {
  color: blue;
  content: "Off";
}
@keyframes upwards {
  from {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
  to {
    transform: translateY(-100px);
  }
}
