.showBd {
  height: 100vh;
  background-image: url("/src/images/showBack1.avif");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
}
.copyToClipboard {
  cursor: pointer;
  transition: all 0.5s ease;
  color: #fff;
  border: 2px solid white;
  width: 100px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  font-weight: 500;
  font-size: 15px;
  background-color: transparent;
  padding: 8px 10px;
  outline: none;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.copyToClipboard:hover {
  color: #001f3f;
  background-color: #fff;
  cursor: pointer;
}
.modalButton {
  cursor: pointer;
  transition: all 0.5s ease;
  color: #fff;
  border: 2px solid white;
  width: 100px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  font-weight: 500;
  font-size: 15px;
  background-color: transparent;
  padding: 8px 10px;
  outline: none;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
.modalButton:hover {
  color: #001f3f;
  background-color: #fff;
  cursor: pointer;
}
.content {
  padding: 5px 20px 5px 20px;
  font-size: 3rem;
  color: black;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 90vh;
  word-wrap: break-word;
}

.truth {
  font-size: 3.25rem;
  color: white;
  display: flex;
  position: relative;
  top: 4%;
}
.truth:hover span {
  display: none;
}
.truth:hover:before {
  content: "Best fflinks";
  font-size: 3.25rem;
  font-weight: bold;
}
.show {
  font-size: 3.25rem;
  font-weight: bold;
}
/* TABLE */
.table {
  display: flex;
  position: relative;
  top: 20%;
}
table {
  padding: 10px 25px;
  background-color: rgb(41, 37, 37);
  border: solid 5px green;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
th {
  font-size: 1.5rem;
  /* padding: 5px; */
  padding: 20px 15px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
}
td {
  text-align: center;
  padding: 10px;
  font-weight: 400;
  font-size: 1.5rem;
  color: #fff;
  border-top: solid 1px rgba(255, 255, 255, 0.1);
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

::-webkit-scrollbar {
  width: 1px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
