.header1 {
  background-color: lightblue;
  display: flex;
  padding: 5px 10px;
  justify-content: space-between;
  align-items: center;
}
.leftSection {
  display: flex;
  align-items: center;
}
.logo {
  width: 40px;
  margin: 0 5px 0 10px;
}
.titleName {
  font-size: 2rem;
}
.menu {
  text-align: right;
  display: flex;
  align-items: center;
}
